{% extends 'main.html' %} 

{% load static %}    
{% block content %}

<!-- ***** Home Parallax Start ***** -->
<section class="mini" id="zodiak">
    <div class="mini-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="info mt-5">
                        <h1>Tentang Saya</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Data Pribadi</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Nama : Khusnul Khotimah</p>
                        <p>NIM : 2011102441048</p>
                        <p>Kelas : A</p>
                        <p>Mata Kuliah : Pemrograman Web Lanjut</p>
                        <p>Foto : <br> <img src="{% static 'img-profile.jpeg' %}" width="40%"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->


{% endblock %}