{% extends 'main.html' %} 

{% load static %}    
{% block content %}

<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-lg-8 col-md-12 col-sm-12">
                <!-- <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12"> -->
                    <h1>Tersedia berbagai <strong>ramalan zodiak</strong><br>untuk meningkatkan rasa <strong>percaya diri</strong></h1>
                    <p>Dibuat untuk memenuhi tugas mata kuliah Pemrograman Web Lanjut</p>
                    <a href="#features" class="main-button-slider" class="mb-2">Discover More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Small Start ***** -->
<section class="section home-feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img src="{% static 'assets/images/featured-item-01.png' %}" alt=""></i>
                            </div>
                            <h5 class="features-title">Ramalan Terbaru</h5>
                            <p>Menyediakan ramalan terbaru yang anda butuhkan</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img src="{% static 'assets/images/featured-item-01.png' %}" alt=""></i>
                            </div>
                            <h5 class="features-title">Relevan Dengan Kehidupan</h5>
                            <p>Ramalan zodiak tersedia dengan konten yang relevan</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img src="{% static 'assets/images/featured-item-01.png' %}" alt=""></i>
                            </div>
                            <h5 class="features-title">Cocok untuk berbagai kalangan</h5>
                            <p>Tidak hanya untuk kaula muda, ramalan zodiak cocok untuk berbagai kalangan</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Small End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-top-70 padding-bottom-0" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="{% static 'assets/images/left-image.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                <div class="left-heading">
                    <h2 class="section-title">Mari cari tau bagaimana zodiak anda hari ini!</h2>
                </div>
                <div class="left-text">
                    <p>Kami menyediakan ramalan untuk anda sesuai dengan zodiak yang anda pilih</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="left-heading">
                    <h2 class="section-title">Membantu anda meningkatkan rasa percaya diri</h2>
                </div>
                <div class="left-text">
                    <p>Setelah melihat ramalan zodiak yang positif, anda akan lebih percaya diri. Sebaliknya jika anda mendapat ramalan zodiak yang negatif, jadikan itu sebagai anak tangga untuk melangkah jauh lebih positif.</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <img src="{% static 'assets/images/right-image.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Home Parallax Start ***** -->
<section class="mini" id="zodiak">
    <div class="mini-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="info">
                        <h1>Zodiak / Rasi Bintang</h1>
                        <p>12 zodiak yang tersedia.</p>
                    </div>
                </div>
            </div>

            <!-- ***** Mini Box Start ***** -->
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i>♒</i>
                        <strong>Aquarius</strong>
                        <span>20 Januari - 18 Februari</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i>♓</i>
                        <strong>Pisces</strong>
                        <span>19 Februari - 20 Maret</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i>♈</i>
                        <strong>Aries</strong>
                        <span>21 Maret - 19 April</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i>♉</i>
                        <strong>Taurus</strong>
                        <span>20 April - 20 <br>Mei</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i>♊</i>
                        <strong>Gemini</strong>
                        <span>21 Mei - 20 <br>Juni</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i>♋</i>
                        <strong>Cancer</strong>
                        <span>21 Juni - 22 <br>Juli</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i>♌</i>
                        <strong>Leo</strong>
                        <span>23 Juli - 22 Agustus</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i>♍</i>
                        <strong>Virgo</strong>
                        <span>23 Agustus - 22 September</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i>♎</i>
                        <strong>Libra</strong>
                        <span>23 September - 22 Oktober</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i>♏</i>
                        <strong>Scorpio</strong>
                        <span>23 Oktober - 21 November</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i>♐</i>
                        <strong>Sagitarius</strong>
                        <span>22 November - 21 Desember</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i>♑</i>
                        <strong>Capricorn</strong>
                        <span>22 Desember - 19 Januari</span>
                    </a>
                </div>
            </div>
            <!-- ***** Mini Box End ***** -->
        </div>
    </div>
</section>
<!-- ***** Home Parallax End ***** -->

<!-- ***** Contact Us Start ***** -->
<section class="section colored" id="ramalan">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Lihat Ramalan Zodiak</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Isi Form Dibawah Untuk Melihat Ramalan Dari Zodiak Anda</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Contact Form Start ***** -->
            <div class="col-lg-12 col-md-6 col-sm-12">
                <div class="contact-form">
                    <form id="contact" action="" method="GET">
                      <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                          <fieldset>
                            <input name="nama" type="text" class="form-control" id="nama" placeholder="Nama Lengkap" required="" {% if request.GET.nama %} value="{{request.GET.nama}}" {% endif %}>
                          </fieldset>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                          <fieldset>
                            <input name="tanggal_lahir" type="text" readonly class="form-control datepicker" id="tanggal" placeholder="Tanggal Lahir" required=""  {% if request.GET.tanggal_lahir %} value="{{request.GET.tanggal_lahir}}" {% endif %}>
                          </fieldset>
                        </div>
                        <div class="col-lg-12 text-center">
                          <fieldset>
                            <button type="submit" id="form-submit" class="main-button">Lihat Ramalan Hari Ini</button>
                          </fieldset>
                        </div>
                      </div>
                    </form>
                </div>
                {% if request.GET.nama %}
                <div class="row mt-4 text-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h3 class="margin-bottom-30">Data Zodiak Anda</h3>
                        <div class="contact-text">
                            <h5 class="">Nama</h5>
                            <p>{{api_data_ramalan.nama}}</p>
                        </div>
                        <div class="contact-text">
                            <h5 class="">Lahir</h5>
                            <p>{{api_data_ramalan.lahir}}</p>
                        </div>
                        <div class="contact-text">
                            <h5 class="">Usia</h5>
                            <p>{{api_data_ramalan.usia}}</p>
                        </div>
                        <div class="contact-text">
                            <h5 class="">Zodiak</h5>
                            <p>{{api_data_ramalan.zodiak}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h3 class="margin-bottom-30">Ramalan Zodiak {{api_data_ramalan.zodiak}} Hari Ini</h3>
                        <div class="contact-text margin-bottom-30">
                            <h5 class="">{{ramalan_zodiak}}</h5>
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="contact-form">
                            <form id="contact" action="{% url 'komentar' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="zodiak" value="{{api_data_ramalan.zodiak}}">
                                <input type="hidden" name="ramalan" value="{{ramalan_zodiak}}">
                              <div class="row">
                                <div class="col-lg-8 col-md-12 col-sm-12">
                                  <fieldset>
                                    <input name="komentar" type="text" class="form-control" id="komentar" placeholder="Komentar Disini..." required="">
                                  </fieldset>
                                </div>
                                <div class="col-lg-4">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="main-button">Kirim</button>
                                  </fieldset>
                                </div>
                              </div>
                            </form>
                        </div>
                        {% else %}
                        <h4 class="margin-bottom-30">Ingin Berkomentar ? <a href="#" data-toggle="modal" data-target="#loginModal">Login Terlebih Dahulu🐱‍🏍</a></h4>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- ***** Contact Form End ***** -->
        </div>
    </div>
</section>
<!-- ***** Contact Us End ***** -->

<!-- ***** Counter Parallax Start ***** -->
<section class="counter">
    <div class="content">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item">
                        <strong>{{jumlah_user}}</strong>
                        <span>Pengguna Terbantu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Counter Parallax End ***** -->   

<!-- ***** Contact Us Start ***** -->
<section class="section colored" id="krisar">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Kritik & Saran</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Berikan kritik & saran anda agar website ini lebih baik kedepannya.</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Contact Text Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h5 class="margin-bottom-30">Isi form di samping</h5>
                <div class="contact-text">
                    <p>Berikan kritik / saran yang membangun, bukan menjatuhkan.</p>
                </div>
            </div>
            <!-- ***** Contact Text End ***** -->

            <!-- ***** Contact Form Start ***** -->
            <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="contact-form">
                    <form id="contact" action="{% url 'kritik-saran-post' %}" method="POST">
                        {% csrf_token %}
                      <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                          <fieldset>
                            <input name="nama" type="text" class="form-control" id="nama" placeholder="Nama Lengkap" required="">
                          </fieldset>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                          <fieldset>
                            <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail" required="">
                          </fieldset>
                        </div>
                        <div class="col-lg-12">
                          <fieldset>
                            <textarea name="pesan" rows="6" class="form-control" id="message" placeholder="Pesanmu Untuk Kami" required=""></textarea>
                          </fieldset>
                        </div>
                        <div class="col-lg-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="main-button">Kirim Pesan</button>
                          </fieldset>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
            <!-- ***** Contact Form End ***** -->
        </div>
    </div>
</section>
<!-- ***** Contact Us End ***** -->





{% endblock %}