{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Ramalan Zodiak</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-softy-pinko.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fontawesome/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/sweetalert2/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/datepicker/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>

<body>
   {% include 'header.html' %}

    {% block content %}


    {% endblock %}
    {% include 'footer.html' %}
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header border-bottom-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-title text-center">
                <h4>Login</h4>
              </div>
              <div class="d-flex flex-column text-center">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control" id="email1" name="username" placeholder="Your username...">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="password1" name="password" placeholder="Your password...">
                  </div>
                  <button type="submit" class="btn btn-login btn-block btn-round">Login</button>
                </form>
            </div>
          </div>
            <div class="modal-footer d-flex justify-content-center">
              <div class="signup-section">Not a member yet? <a href="{% url 'register' %}" class="text-info"> Sign Up</a>.</div>
            </div>
        </div>
      </div>
    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'assets/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'assets/datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript">
      $('.datepicker').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'dd-mm-yyyy'
      });
    </script>

    {% if messages %}
    {% for message in messages %}
      <script>
          $(document).ready(function(){
              // console.log($('#exampleInputFile').val())
              function ops() {
                  Swal.fire(
                      '{{message.tags}}!',
                      '{{message}}!',
                      '{{message.tags}}'
                      )
              }
              ops();
          });

      </script>
    {% endfor %}
    {% endif %}
    
</body>

</html>